.list {
  display: flex;
  gap: 8px;
  padding: 24px 0;
  margin-bottom: 43px;
  overflow-x: scroll;
}

.list::-webkit-scrollbar {
  width: 235px;
  height: 8px;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: #323f47;
  cursor: pointer;
}

.list::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px 14px;
  border-radius: 15px;
  background: #fff;
  backdrop-filter: blur(16.799999237060547px);
}

@media screen and (min-width: 768px) {
  .list {
    gap: 32px;
  }
  .item {
    gap: 20px;
    padding: 20px;
  }
}
