.addWaterBtnMainInfo {
   display: flex;
  width: 178px -40px;
  margin-left: auto;
  align-items: center;
  gap: 10px;
  padding: 14px 20px;
  border-radius: 30px;
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  padding: 0.7em 1.7em;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 2px 2px 4px #c5c5c5, -2px -2px 4px var(--white);
}

.addWaterBtnMainInfo:hover,
.addWaterBtnMainInfo:focus {
  border: 1px solid var(--white);
}

.addWaterBtnMainInfo:active {
  box-shadow: 2px 2px 4px #c5c5c5, -2px -2px 4px var(--white);
}

.addWaterBtnDetailedInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 124px;
  padding: 0;
  background-color: var(--light-gray);
  color: #323f47;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.16px;
}

.iconPrimaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.iconSecondaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--light-green);
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .addWaterBtnMainInfo {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
}

@media screen and (min-width: 1440px) {
  .addWaterBtnMainInfo {
    position: fixed;
    bottom: 64px;
    left: 50%;
    transform: translateX(calc(-50% - 134px));
    padding: 18px 30px;
  }
}



