.addWaterBtnMainInfo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 20px;
  border-radius: 30px;
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  cursor: pointer;
}

.addWaterBtnDetailedInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 124px;
  padding: 0;
  background-color: var(--light-gray);
  color: #323f47;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.16px;
  cursor: pointer;
}

.iconPrimaryBtn {
  width: 24px;
  height: 24px;
}

.iconSecondaryBtn {
  width: 30px;
  height: 30px;
  background-color: var(--light-green);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .addWaterBtnMainInfo {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
}

@media screen and (min-width: 1440px) {
  .addWaterBtnMainInfo {
    padding: 18px 30px;
  }
}
