@import '../../index.css';

.infoContainer {
  width: 100%;
  max-width: 500px;
  border-radius: 30px;
  background: var(--light-gray);
  padding: 24px 16px;
  margin: 40px auto;
  text-align: left;
}

.logo {
  margin-bottom: 40px;
  text-align: center;
}

.formContainer {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  color: var(--dark-blue);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.36px;
  margin-bottom: 32px;
  text-align: center;
  width: 100%;
}

.form {
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.inputBox {
  margin-bottom: 32px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--dark-gray);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  margin-bottom: 8px;
}

.input {
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background: transparent;
  color: rgba(47, 47, 47, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.input.error {
  border-color: #ef5050;
}

.error {
  color: #ef5050;
  font-size: 12px;
  margin-top: 4px;
}

.resetBtn {
  margin-bottom: 16px;
  display: flex;
  width: 100%;
  max-width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--Accent, #9be1a0);
  color: var(--dark-blue);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
}

.resetBtn:hover,
.resetBtn:focus {
  background: #87d28d;
}

.message {
  margin-top: 16px;
  color: green;
  text-align: center;
}

.offerCont {
  margin-top: 16px;
  text-align: center;
}

.signInOffer {
  color: rgba(47, 47, 47, 0.5);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.signInLink {
  color: var(--dark-gray);
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .infoContainer {
    max-width: 600px;
    padding: 32px;
  }

  .title {
    font-size: 36px;
    line-height: 38px;
  }

  .input {
    height: 56px;
  }

  .resetBtn {
    max-width: 400px;
    height: 60px;
  }
}
