.customToast {
  background: #f0eff4;
  color: #721c24;
  border: 1px solid #2f2f2f;
  border-radius: 10px;
  padding: 1rem;
}

.buttonCont {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.customTitle {
  color: #2f2f2f;
  margin-bottom: 8px;
}

.btnTry {
  background: var(--Accent, #9be1a0);
  color: #2f2f2f;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 30px;
  cursor: pointer;
}

.btnTry:hover {
  background: #87d28d;
}

.btnSign {
  background: var(--Accent, #9be1a0);
  color: #2f2f2f;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 30px;
  cursor: pointer;
}

.btnSign:hover {
  background: #87d28d;
}

.my-custom-toast {
  display: flex;
  flex-direction: column;
}
