.advantages {

  width:400px;
  border-radius: 30px;
  background-image: url('https://res.cloudinary.com/dwyxffoux/image/upload/v1/t4qxv1yretc1celrttux');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px 16px;


}

.customersContainer {
  display: inline-flex;
  padding: 10px 14px;
  align-items: center;
  border-radius: 30px;
  background: var(--white);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  margin-top: 209px;
  height: 48px;
  gap: 4px;
}

.customersList {
  display: flex;
  position: relative;
}

.customersImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customersImg {
  flex-shrink: 0;
  border-radius: 50px;
  border: 2px solid var(--white);
  margin-left: -10px;
  width: 28px;
  height: 28px;
}

.customersText {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  width: 90px;
}

.happy {
  color: var(--light-green);
}

.benefits {
  display: flex;
  width: 168px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 4px;
  flex-wrap: wrap;
  margin-left: 160px;
}

.habitContainer {
  display: flex;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 30px;
  background: var(  --dark-blue);
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--light-green);
}

.habitText {
  color: var(--white);
  text-align: center;

  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -0.08px;
}

.statistics,
.setting {
  display: flex;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.statistics {
  background:var(--light-green);
}

.setting {
  background: var(--white);
}

.statisticsText,
.settingText {
  color: var(--dark-blue);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -0.08px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .advantages {
    width: 658px;
    background-image: url('https://res.cloudinary.com/dwyxffoux/image/upload/v1/ncrpeodjj9zflxafe1xb');
    min-height: 440px;
    padding: 32px;
  }

  .customersContainer {
    padding: 10px 20px;
    align-items: center;
margin-top: 293px;
  }

  .customersImg {
    width: 47px;
    height: 47px;
  }

  .customersText {
    font-size: 15px;
    line-height: 1.5;
    width: 100px;
  }

  .benefits {
    width: 242px;
    margin-left: auto;
    margin-top: -20px;
    gap: 10px;
  }

  .statistics,
  .setting,
  .habitContainer {
    padding: 11px 16px;
  }

  .statisticsText,
  .settingText,
  .habitText {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.12px;
  }
}

/* Desktop */

@media screen and (min-width: 1280px) {
  .advantages {
    width: 672px;
    min-height: 754px;
    background-image: url('https://res.cloudinary.com/dwyxffoux/image/upload/v1/jbfi4mcwyi6qc8s4ycpi');

  }

  .customersContainer{

    margin-top:537px;
  }

}

/* Retina */

@media screen and (min-resolution: 192dpi),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .advantages {
    background-image: url('https://res.cloudinary.com/dwyxffoux/image/upload/v1/jbfi4mcwyi6qc8s4ycpi');
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .advantages {
    background-image: url('https://res.cloudinary.com/dwyxffoux/image/upload/v1/mmidk94jcczcxl5rsutz');
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
  .advantages {
    background-image: url('https://res.cloudinary.com/dwyxffoux/image/upload/v1/ucqyki2cvgbqbafwxysy');
  }
}
