.water-form {
  max-width: 438px;
  margin: 0 auto;
  background-color: var(--light-gray);
  padding: 16px;
  border-radius: 8px;
}

.title {
  color: var(--dark-blue);
  text-align: center;
  font-family: Poppins, Gilroy, system-ui, Helvetica, Arial, sans-serif;
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  line-height: 1.33; /* 24px */
  letter-spacing: -0.18px;
}

.title2 {
  color: var(--dark-gray);
  font-family: Poppins, Gilroy, system-ui, Helvetica, Arial, sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 1.5; /* 24px */
  letter-spacing: -0.16px;
}

.error-message {
  color: var(--light-red);
  font-size: 0.875rem;
}

@media screen and (max-width: 375px) {
  .circle-btn {
    font-size: 40px !important;
  }

  .water-amount-panel {
    font-size: 14px !important;
    line-height: 18px !important;
  }

  .input {
    padding: 14px !important;
    font-size: 14px !important;
    line-height: 18px !important;
  }
}
