.container {
  /* display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    margin-left: 100px; */
  position: absolute;
  transform: translatey(-50%);
  top: 50%;
  left: 50%;

}