.modalContainer{
    max-width: 337px;
    text-align: left;
    margin: 0 auto;
    background-color: var(--white);
}

.settingsHeader{
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
   .modalContainer{
    max-width: 568px;
  }
  .settingsHeader{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.14em;
  }
}

@media only screen and (min-width: 1440px) {
   .modalContainer{
    max-width: 840px;
    max-height: 916px;
  }

}
