.ForgotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages {
  display: none;
}

@media screen and (min-width: 1440px) {
  .ForgotContainer {
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }
  .advantages {
    display: block;
  }
}
