.section {
  border-radius: 30px;
  background-image: url('https://res.cloudinary.com/dwyxffoux/image/upload/v1/ktnghogpjachr01lpp11');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 262px 335px;
  background-color: var(--light-green);
}

.container {
  padding: 0 16px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.title {
  margin-bottom: 90px;
  color: var(--dark-blue);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.18px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section {
    background-size: 374px 477px;
  }
  .container {
    padding: 33px 33px 60px 33px;
  }
  .title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    width: 672px;
    min-height: calc(100vh - 64px);
    background-size: 472px 604px;
  }
  .title {
    line-height: 24px;
    letter-spacing: -0.24px;
  }
}

/* AddWaterBtn */

.wrapper {
  display: flex;
  justify-content: flex-end;
}
.addWaterBtnMainInfo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 20px;
  border-radius: 30px;
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .addWaterBtnMainInfo {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
}

@media screen and (min-width: 1440px) {
  .addWaterBtnMainInfo {
    padding: 18px 30px;
  }
}

@media screen and (min-resolution: 192dpi),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .section {
    background-image: url('https://res.cloudinary.com/dwyxffoux/image/upload/v1/fytohiouaxmhletupzjx');
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .section {
    background-image: url('https://res.cloudinary.com/dwyxffoux/image/upload/v1/fytohiouaxmhletupzjx');
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi),
  screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
  .section {
    background-image: url('https://res.cloudinary.com/dwyxffoux/image/upload/v1/fytohiouaxmhletupzjx');
  }
}
