.SignUpContainer {
  width: 100%;
  border-radius: 30px;
  background: var(--light-gray);
  padding: 24px 16px;
  text-align: left;
}

.SignUpForm {
  min-width: 256px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo {
  margin-bottom: 110px;
}

.SignText {
  margin-bottom: 16px;
  font-size: 32px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
}

.wrapPass {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: stretch;
}

.toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  display: none;
}

.input {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  background: var(--light-gray);
  padding-right: 40px;
  transition: border-color 0.3s ease;
}

.inputError {
  border: 1px solid #ef5050;
  color: #ef5050;
}

.error {
  color: #ef5050;
}

.input:focus {
  outline: none;
}

.btn {
  margin-top: 16px;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--light-green);
  font-size: 14px;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  background: var(--light-green-hover);
}

.text {
  color: rgba(47, 47, 47, 0.5);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-align: center;
}

.linkText {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .SignUpContainer {
    width: 672px;
    padding: 32px;
  }
  .SignUpForm {
    padding: 102px;
  }

  .SignText {
    font-size: 36px;
  }
  .inputDiv {
    font-size: 16px;
  }
  .toggle {
    display: block;
  }
  .btn {
    font-size: 16px;
  }
  .logo {
    margin-bottom: 69px;
  }
}

@media screen and (min-width: 1440px) {
  .SignUpContainer {
    gap: 32px;
    height: 754px;
  }
  .SignUpForm {
    padding: 0 102px;
  }
  .logo {
    margin-bottom: 74px;
  }
}
