@import '../../index.css';

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.infoContainer {
  width: 100%;
  border-radius: 30px;
  background: var(--light-gray);
  padding: 24px 16px;
  text-align: left;
  opacity: 1;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.3s;
}

.logo {
  margin-bottom: 172px;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

.formContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeInRight 1s ease-out forwards;
  animation-delay: 0.8s;
}

.title {
  color: var(--dark-blue);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.36px;
  margin-bottom: 32px;
  opacity: 0;
  animation: fadeInRight 1s ease-out forwards;
  animation-delay: 1s;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 256px;
  opacity: 0;
  animation: fadeInRight 1s ease-out forwards;
  animation-delay: 1.2s;
}

.inputBox {
  position: relative;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.group {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--dark-gray);

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  margin-bottom: 8px;
}

.input {
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  width: 100%;
  height: 50px;
  padding: 16px;
  background: transparent;
  color: rgba(47, 47, 47, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  transition: border-color 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
}

.input:focus {
  border-color: var(--accent);
  background-color: #f0f9f1;
  color: var(--dark-blue);
}

.input.error {
  border: 1px solid #ef5050;
  background-color: #fdd;
  color: red;
  animation: fadeIn 0.5s ease-out forwards;
}

.input.error:hover {
  border: 1px solid #ef5050;
  background-color: #fdd;
  color: red;
}

.error {
  color: #ef5050;
  font-size: 0.875rem;
  margin-top: 0.1rem;
  opacity: 0;
  animation: fadeIn 0.3s ease-out forwards;
}

.forgotPassword {
  margin-top: 14px;
  color: var(--dark-gray);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
}

.forgotPassword,
.signuplink {
  transition: color 0.3s ease;
}

.forgotPassword:hover,
.signuplink:hover {
  color: #527452;
}

.wrapPass {
  position: relative;
  width: 100%;
}

.toggle {
  display: none;
}

.toggle:focus {
  outline: none;
}

.signInBtn {
  display: flex;
  height: 50px;
  padding: 0.7em 1.7em;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: var(--dark-blue);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.5s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background: var(--Accent, #9be1a0);
}

.signInBtn:hover,
.signInBtn:focus {
  background: #87d28d;
  box-shadow: 0 0 10px rgba(177, 138, 189, 0.7);
  cursor: pointer;
}

.signInBtn:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.signupoffer {
  color: rgba(47, 47, 47, 0.5);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;

  text-align: center;
  justify-content: center;
  align-items: stretch;
}

.signuplink {
  color: var(--dark-gray);

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
}

.conc {
  text-align: center;
  justify-content: center;

  color: rgba(47, 47, 47, 0.5);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
}

.redirect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.google {
  height: 56px;
  width: 168px;
  background: transparent;
  border: 2px solid rgb(35, 195, 35);
  border-radius: 30px;
  align-self: center;
}

.google:hover,
.google:focus {
  cursor: pointer;
  background: #82ea8a;
}

@media screen and (min-width: 768px) {
  .infoContainer {
    width: 704px;
    height: 960px;
    padding: 32px;
  }

  .logo {
    margin-bottom: 225px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 36px;
    line-height: 38px;
  }

  .label {
    font-size: 16px;
    line-height: 24px;
  }

  .input {
    width: 436px;
    height: 56px;
    padding: 16px 16px 16px 16px;
  }

  .toggle {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }

  .signInBtn {
    width: 436px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  .signinpoffer {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .infoContainer {
    margin: 0;
    height: 754px;
  }

  .logo {
    margin-bottom: 113px;
  }

  .formContainer {
    align-self: stretch;
  }

  .title {
    font-size: 36px;
    line-height: 38px;
  }

  .label {
    font-size: 16px;
    line-height: 24px;
  }

  .inputBox {
    gap: 20px;
  }

  .input {
    width: 436px;
    height: 56px;
    align-items: flex-start;
    padding: 16px 50px 16px 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
  }

  .field {
    font-size: 16px;
    line-height: 24px;
  }

  .signinpoffer {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}
