@import-normalize;
/* bring in normalize.css styles *, */

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Poppins, Gilroy, system-ui, Helvetica, Arial, sans-serif;
  --dark-gray: #2f2f2f;
  --dark-blue: #323f47;
  --light-green: #9be1a0;
  --light-green-hover: #87d28d;
  --white: #ffffff;
  --white-disabled: #e6e6e6;
  --light-gray: #f0eff4;
  --light-gray-disabled: #bcbcbc;
  --light-red: #ef5050;
  --linear-gradient: linear-gradient(
    3deg,
    rgba(155, 225, 160, 0) 1.54%,
    #9be1a0 93.64%
  );
  --animation: 0.4s cubic-bezier(0.5, -0.45, 0.5, 1.45);
}

body {
  font-family: Poppins, Gilroy, system-ui, Helvetica, Arial, sans-serif;
  color: #2f2f2f;
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323f47;
  margin: 0;
}

p {
  color: #2f2f2f;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  border: none;
}

input {
  font-family: inherit;
}

.section {
  margin: auto;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  body {
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
}
