.HomePageContainer{
  display: flex;
  flex-direction: column;
  gap:16px;
  align-items: center;




}




@media screen and (min-width: 1280px){
  .HomePageContainer{
    flex-direction: row;
    gap: 32px;


  }
}
